body {
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1, h1 a {
	color: #444;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
div#content {
	font-size: 90%;
	width: 400pt;
	background: #f0f6fb;
	padding: 10pt;
	margin: 10pt;

	-moz-border-radius: 5pt;
	-webkit-border-radius: 5pt;
	border-radius: 5pt;
}
form fieldset {
	border: solid 1pt #bbb;
	padding: 10pt;
	margin: 5pt;

	-moz-border-radius: 2pt;
	-webkit-border-radius: 2pt;
	border-radius: 2pt;
}
form fieldset legend {
	color: #333;
}
form fieldset p {
	margin: 5pt 0 0 0;
}
form fieldset ul {
	margin: 5pt 0;
}
form fieldset textarea, form fieldset input {
	width: 100%;
}
form fieldset textarea {
	height: 150pt;
}
fieldset.file div.progress {
	background: #ff4f00;
	color: #fff;
	width: 0;
	font-size: 90%;
	text-align: center;
}
fieldset.file div.error {
	color: #ff2222;
}
form div.submit {
	text-align: center;
	padding: 5pt;
}
